.button {
    background-color: var(--color-primary);
    padding: 16px 24px;
    border: 0 none;
    border-radius: 4px;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    color: var(--global-dark);
    cursor: pointer;

    transition: all .2s ease;

    &:hover {
        background-color: var(--global-dark);
        color: var(--text-color);
    }

}
