<div class="tabs">
    <mat-tab-group>

        <mat-tab label="{{ 'projectConfig.labelTabs.about' | translate }}">
            <ng-template matTabContent>
                <div class="tabs__box">
                    <div class="tabs__box__bg">
                        <div class="display">
                            <div class="tabs__text">
                                <h3 class="tabs__text__title">
                                    {{ 'about.title' | translate }}
                                </h3>
                                <div class="tabs__text__desc">
                                    <p>
                                        {{ 'about.description' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="tabs__image">
                                <img
                                    [src]="'about.image.src' | translate"
                                    [alt]="'about.image.alt' | translate"
                                    class="tabs__image__img"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab label="{{ 'projectConfig.labelTabs.skills' | translate }}">
            <ng-template matTabContent>
                <div class="tabs__box">
                    <div class="tabs__box__bg">
                        <app-skills-progress
                        *ngFor="let item of 'skills' | translate "
                        [label]="item.skillName"
                        [skill]="item.skillValue"
                        [path]="item.skillName"
                    ></app-skills-progress>

                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab label="{{ 'projectConfig.labelTabs.projetcs' | translate }}">
            <ng-template matTabContent>
                <div class="tabs__cards d-flex">
                    <app-card
                        *ngFor="let item of 'projects' | translate "
                        [title]="item.name"
                        [description]="item.description"
                        [link]="item.link"
                    ></app-card>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
