<div class="skill-page">
    <app-skill-banner></app-skill-banner>

    <div class="skill-page__box">
        <div class="skill-page__content">
            <h1 class="skill-page__content__title"> {{ 'skills.'+index+'.skillName' | translate }} </h1>
            <p class="skill-page__content__desc">
                {{ 'skills.'+index+'.description' | translate }}
            </p>

            <a
                href="{{ 'skills.'+index+'.description' | translate }}"
                target="_blank"
                rel="noopener noreferrer"
                class="skill-page__content__link"
            >
                <span>
                    Saiba mais
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </span>
            </a>
        </div>
    </div>
</div>
