<div class="skill-page">
    <app-skill-banner></app-skill-banner>

    <div class="skill-page__box">
        <div class="skill-page__content">
            <h1 class="skill-page__content__title">Angular</h1>
            <p class="skill-page__content__desc">
                Angular (comumente referido como "Angular 2+" ou "Angular 2") é
                uma plataforma de aplicações web de código-fonte aberto e
                front-end baseado em TypeScript liderado pela Equipe Angular do
                Google e por uma comunidade de indivíduos e corporações. Angular
                é uma reescrita completa do AngularJS, feito pela mesma equipe
                que o construiu.
            </p>

            <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
                class="skill-page__content__link"
            >
                <span>
                    Saiba mais
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </span>
            </a>
        </div>
    </div>
</div>
