.dark{
    --bg-color: #191923;
    --color-primary: #ffc107;
    --color-gray: #8c8c8e;
    --color-darkgray: #191923;
    --global-gray: #323232;
    --global-dark: #20202a;
    --text-color: #fff;
    --light-title: #ececec
}

.ligth{
    --bg-color: #ccc;
    --color-primary: #328d6b;
    --color-gray: #1a1a1a;
    --color-darkgray: #191923;
    --global-gray: #cbc5c5;
    --global-dark: #c4c4c4;
    --text-color: #fff;
    --light-title: #20202a
}
