
body {
    background-color: #000;
}
.container {
    max-width: 1440px;
    min-height: calc(100vh - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

    &__info-bar {
        width: 310px;
    }
    &__content {
        width: calc(100% - 310px - 16px);
    }

}
