<div class="user-sidebar">
    <div class="user-sidebar__box">
        <app-avatar></app-avatar>
    </div>

    <div class="user-sidebar__box">
        <div class="d-flex justify-content-around">
            <app-user-languages [percentage]="'80'" [language]="'Portugês'"></app-user-languages>
            <app-user-languages [percentage]="'45'" [language]="'Inglês'"></app-user-languages>
            <app-user-languages [percentage]="'60'" [language]="'Espanhol'"></app-user-languages>
        </div>
    </div>

</div>
