<div class="home-banner">
    <div class="home-banner__box">
        <div class="overlay"></div>
        <img src="/assets/images/bg.jpg" alt="Imagem de front" />
        <div class="home-banner__text">
            <h2> {{ 'userConfig.initialMessage' | translate }} </h2>
            <div class="desc">
                <div>
                    <p>
                        Gosto de criar produtos front-end com ótimas
                        experiências para o usuário.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
