.home-banner {
    margin-bottom: 16px;
    border-bottom: 2px solid var(--color-primary);

    &__box {
        position: relative;
        width: 100%;
        img{
            width: 100%;
            height: 310px;
            object-fit: cover;
            display: block;
        }
        .overlay {
            background-color: rgba($color: #000000, $alpha: 0.7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 36px;
        transform: translateY(-50%);
        z-index: 2;

        h2 {
            font-size: 38px;
            color: var(--color-primary);
            margin: 0 0 16px;

            @media (min-width: 992px) {
                font-size: 48px;
            }
        }

        .desc {
            display: flex;
            justify-content: flex-start;
            p{
                border-right: 0.15em solid var(--color-primary);

                margin-bottom: 24px;

                @media (min-width: 992px) {
                    white-space: nowrap;
                    overflow: hidden;
                    animation: typing 3s steps(60, end),
                    blink-caret 0.5s step-end infinite;
                }
            }
        }
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--color-primary);
    }
}
