<div class="avatar">
    <div class="avatar__header">
        <div class="avatar__box-img">
            <img src="../../../assets/images/wendell--noce.png" alt="Wendell Noce" class="avatar__box-img__img">
        </div>

        <h2 class="avatar__name"> Wendell Noce </h2>
        <p class="avatar__position"> Front-end Developer </p>
    </div>

    <div class="avatar__infos">
        <p class="d-flex justify-content-between"><strong> Páis: </strong><span> Brasil </span></p>
        <p class="d-flex justify-content-between"><strong> Cidade: </strong> <span> Belo Horizonte </span> </p>
        <p class="d-flex justify-content-between"><strong> Idade: </strong> <span> 36 </span> </p>
    </div>
</div>
